---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=mapquest_key&location=poajsdlnasgloip%5Dasdiashd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 25 Apr 2021 01:03:24 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"poajsdlnasgloip]asdiashd"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A1XAX","geocodeQuality":"COUNTRY","dragPoint":false,"sideOfStreet":"N","linkId":"282934758","unknownInput":"","type":"s","latLng":{"lat":39.390897,"lng":-99.066067},"displayLatLng":{"lat":39.390897,"lng":-99.066067},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=mapquest_key&type=map&size=225,160&locations=39.390897,-99.066067|marker-sm-50318A-1&scalebar=true&zoom=2&rand=264673052"}]}]}'
  recorded_at: Sun, 25 Apr 2021 01:03:24 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=open_weather_key&exclude=minutely&lang=en&lat=39.390897&lon=-99.066067&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.3909,"lon":-99.0661,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1619312901,"sunrise":1619264753,"sunset":1619313747,"temp":59.79,"feels_like":57.87,"pressure":1013,"humidity":51,"dew_point":41.65,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":10.36,"wind_deg":140,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1619312400,"temp":59.79,"feels_like":57.87,"pressure":1013,"humidity":51,"dew_point":41.65,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":10.89,"wind_deg":121,"wind_gust":18.39,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1619316000,"temp":58.73,"feels_like":56.84,"pressure":1013,"humidity":54,"dew_point":42.15,"uvi":0,"clouds":21,"visibility":10000,"wind_speed":11.92,"wind_deg":124,"wind_gust":24.16,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1619319600,"temp":57.31,"feels_like":55.42,"pressure":1013,"humidity":57,"dew_point":42.22,"uvi":0,"clouds":39,"visibility":10000,"wind_speed":13.8,"wind_deg":132,"wind_gust":29.71,"weather":[{"id":802,"main[...]
