---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=mapquest_key&location=dever,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Apr 2021 03:20:55 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"dever,
        co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Dover","adminArea5Type":"City","adminArea4":"Weld
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"283388085","unknownInput":"","type":"s","latLng":{"lat":40.7794,"lng":-104.811897},"displayLatLng":{"lat":40.7794,"lng":-104.811897},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=mapquest_key&type=map&size=225,160&locations=40.7794,-104.811897|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1500118428"}]}]}'
  recorded_at: Mon, 26 Apr 2021 03:20:55 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=open_weather_key&exclude=minutely&lang=en&lat=40.7794&lon=-104.811897&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.7794,"lon":-104.8119,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619407256,"sunrise":1619352307,"sunset":1619401731,"temp":62.67,"feels_like":60.01,"pressure":999,"humidity":29,"dew_point":30.24,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":1.01,"wind_deg":17,"wind_gust":4,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1619406000,"temp":62.67,"feels_like":60.01,"pressure":999,"humidity":29,"dew_point":30.24,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":8.1,"wind_deg":198,"wind_gust":13.27,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1619409600,"temp":61.77,"feels_like":59.02,"pressure":999,"humidity":29,"dew_point":29.55,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":10.18,"wind_deg":198,"wind_gust":23.98,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1619413200,"temp":61.81,"feels_like":58.91,"pressure":999,"humidity":26,"dew_point":27.23,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":15.21,"wind_deg":216,"wind_gust":31.79,"weather":[{"id":804[...]
